<div *ngIf="isAnalyticLoaded$ | async" class="ps-4" style="background-color: white">
  <div class="text-4xl pb-2" style="color: rgb(243, 18, 175)">Analytics</div>
  <div class="grid grid-cols-2 gap-4 pt-4" style="width: 1800px">
    <div class="grid-cols-2">
      <app-stat [title]="'Active players now'" [value]="activePlayers$ | async" class="me-3"></app-stat>
      <app-stat [title]="'Active rooms now'" [value]="activeRooms$ | async"></app-stat>
    </div>
    <div class="mb-4">
      <app-bar-graph
        [yAxis]="numberOfPlayers$ | async"
        [xAxis]="timeFrames$ | async"
        [seriesName]="'Total Players'"
        [id]="'totalPlayers'"
      ></app-bar-graph>
    </div>
    <div class="mb-4">
      <app-bar-graph
        [yAxis]="numberOfRooms$ | async"
        [xAxis]="timeFrames$ | async"
        [seriesName]="'Total Rooms'"
        [id]="'totalRooms'">
      </app-bar-graph>
    </div>
    <div class="mb-4">
      <app-bar-graph
        [yAxis]="roomDurationMinutes$ | async"
        [xAxis]="timeFrames$ | async"
        [seriesName]="'Average Minutes'"
        [id]="'totalMinutes'">
      </app-bar-graph>
    </div>
  </div>
</div>
