<!-- Hero Section -->
<div class="hero min-h-screen" style="background-image: url('/assets/images/table-stream.jpg');">
    <div class="hero-overlay bg-opacity-60 background"></div>
    <div class="hero-content text-center text-white flex flex-col absolute inset-x-0 mx-auto top-0 md:top-[15%]" >
        <app-main-logo [size]="'large'" [animationClass]="'animate__zoomIn'"></app-main-logo>
        <div class="max-w-4xl heroBackground p-4 animate__animated animate__zoomIn">
            <p class="mb-5 text-xl"><strong>Welcome to Table Stream!</strong> A platform that lets you connect, share your webcam, and enjoy games like Magic: The Gathering, Pokémon, and Yu-Gi-Oh! with friends online.</p>
            <div>
                <a routerLink="/join" class="btn btn-outline text-white py-2 px-4 rounded mr-2"><ng-icon class="mr-1 text-lg" name="gameAxeSword"></ng-icon> Start Playing</a>
                <button class="btn btn-outline text-white py-2 px-4 rounded" (click)="scrollToSection()"><ng-icon class="mr-1 text-lg" name="bootstrapInfoSquareFill"></ng-icon> Learn More</button>
            </div>
        </div>
    </div>

    <div class="text-center absolute bottom-5 md:bottom-10 inset-x-0 mx-auto animate__animated animate__zoomIn animate__delay-1s">
        <a href="https://www.reddit.com/r/table_stream" target="_blank" class="btn btn-outline text-white py-2 px-4 rounded mr-2"><ng-icon class="mr-1 text-lg" name="bootstrapReddit"></ng-icon> Join us on Reddit</a>
        <a href="https://discord.gg/JrjWCwZ3kb" class="btn btn-outline text-white py-2 px-4 rounded"><ng-icon class="mr-1 text-lg" name="bootstrapDiscord"></ng-icon> Discord Discussions</a>
    </div>
</div>

<!-- Main Content -->
<div class="relative infoBackgroundImage">
    <div class="absolute inset-0 heroBackground z-0"></div>
    <main class="relative  container mx-auto p-8 text-white z-10 max-w-6xl" id="main-content">
        <section class="mb-8">
            <h2 class="text-3xl font-bold mb-4">How It Works</h2>
            <p class="mb-4">
                Table Stream allows you to join or create games for different formats like <strong>Commander</strong>,
                <strong>Standard</strong>, <strong>Modern</strong>, and more. Stream your table using your webcam and microphone to play
                with your own card collection.
            </p>
            <p class="mb-4">
                Our platform will soon support other popular card games like <strong>Lorcana</strong>. Expand your gaming experience and connect with players worldwide!
            </p>
        </section>
    
        <section class="mb-10">
            <h2 class="text-3xl font-bold mb-4">Game Features</h2>
            <ul class="list-disc list-inside mb-4">
                <li>2-6 player games</li>
                <li>Search and share cards in-game</li>
                <li>Real-time audio and video streaming</li>
                <li>Fun reactions and soundboards</li>
                <li>Spectator support</li>
                <li>Password protected games</li>
                <li>Game state tracking such as:
                    <ul class="list-disc list-inside ml-8">
                        <li>Life totals</li>
                        <li>Prize Cards</li>
                        <li>Commander Damages</li>
                        <li>Energy</li>
                        <li>Poison</li>
                        <li>Monarch</li>
                        <li>Turn Timers</li>
                        <li>Cities Blessing</li>
                    </ul>
                </li>
            </ul>
        </section>

        <section class="mb-10">
            <h2 class="text-3xl font-bold mb-4">Planned Features</h2>
            <ul class="list-disc list-inside mb-4">
                <li>Public server list</li>
                <li>Much more!</li>
            </ul>
        </section>
    
        <section class="mb-10">
            <h2 class="text-3xl font-bold mb-4">No Account Needed</h2>
            <p class="mb-4">
                Table Stream is completely free to use. No account or email registration is required. Just jump in and start
                playing!
            </p>
        </section>
    
        <div class="text-center">
            <a routerLink="/join" class="btn btn-outline text-white py-2 px-4 rounded mr-2"><ng-icon class="mr-1 text-lg" name="gameAxeSword"></ng-icon> Create or Join a Game Now</a>
            <a href="https://www.reddit.com/r/table_stream" target="_blank" class="btn btn-outline text-white py-2 px-4 rounded mr-2"><ng-icon class="mr-1 text-lg" name="bootstrapReddit"></ng-icon> Check Out the Subreddit</a>
            <a href="https://discord.gg/JrjWCwZ3kb" class="btn btn-outline text-white py-2 px-4 rounded mr-2"><ng-icon class="mr-1 text-lg" name="bootstrapDiscord"></ng-icon> Join our Discord</a>
            <button type="button" class="btn btn-outline text-white py-2 px-4 rounded" (click)="openDonationModel()"><ng-icon class="mr-1 text-lg" name="gameCoffeeCup"></ng-icon> Donate</button>
        </div>
    </main>
</div>

<app-donation-modal></app-donation-modal>