<!-- Hero Section -->
<div class="hero min-h-screen" style="background-image: url('table-stream.png');">
    <div class="hero-overlay bg-opacity-60 background"></div>
    <div class="hero-content text-center text-white heroBackground">
        <div class="max-w-650">
            <h1 class="mb-5 text-5xl font-bold">Table Stream</h1>
            <p class="mb-5 text-xl"><strong>Welcome to Table Stream!</strong> A platform that lets you connect, share your webcam, and enjoy games like Magic: The Gathering with friends online.</p>
            <div>
                <a href="/join" class="btn btn-outline text-white py-2 px-4 rounded mr-2">Start Playing</a>
                <button class="btn btn-outline text-white py-2 px-4 rounded" (click)="scrollToSection()">Learn More</button>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class=" bg-slate-800">
    <main class="container mx-auto p-8 text-white" id="main-content">
        <section class="mb-12">
            <h2 class="text-3xl font-bold mb-4">How It Works</h2>
            <p class="mb-4">
                Table Stream allows you to join or create games for different formats like <strong>Commander</strong>,
                <strong>Standard</strong>, <strong>Modern</strong>, and more. Stream your table using your webcam and microphone to play
                with real cards.
            </p>
            <p class="mb-4">
                Our platform also supports other popular card games like <strong>Pokémon</strong> and
                <strong>Yu-Gi-Oh!</strong> Expand your gaming experience and connect with players worldwide.
            </p>
        </section>
    
        <section class="mb-12">
            <h2 class="text-3xl font-bold mb-4">Game Features</h2>
            <ul class="list-disc list-inside mb-4">
                <li>Track life totals, commander damage, and turn timers</li>
                <li>Search and share cards in-game</li>
                <li>Real-time audio and video streaming</li>
            </ul>
        </section>
    
        <section class="mb-12">
            <h2 class="text-3xl font-bold mb-4">No Account Needed</h2>
            <p class="mb-4">
                Table Stream is completely free to use. No account or email registration is required. Just jump in and start
                playing! prod check
            </p>
        </section>
    
        <div class="text-center">
            <a href="/join" class="btn btn-outline text-white py-2 px-4 rounded">Create or Join a Game Now</a>
        </div>
    </main>
</div>
