<div class="w-screen h-screen flex flex-col" >

    <div class="flex flex-row flex-grow">

        <div class="flex flex-col p-4">
            <h1>left column</h1>
            <h4>Stuff</h4>
            <h4>Room: {{room.name}}</h4>
        </div>

        <div class="grid grid-cols-2 flex-grow">
            <div *ngFor="let player of sortedPlayers" class="bg-green-500">
                <app-user-stream [player]="player" [localStream]="player.id == localPlayerId"></app-user-stream>
            </div>
        </div>

        <div class="">right ui</div>

    </div>

    

</div>