<div *ngIf="hasAnyCommanderAssigned">
    <div class="relative overflow-hidden transition-all duration-300 ease-in-out" (transitionend)="onTransitionEnd()"
        [ngClass]="{
        'h-0 opacity-0 pointer-events-none': panelHidden,
        'h-auto': !panelHidden
      }">

        <div class="transition-transform duration-300 ease-in-out " [ngClass]="{
            'translate-x-0 h-full': showSidebar,
            '-translate-x-full': !showSidebar
        }">
            <ng-container *ngFor="let playerId of getKeys(this.player.commanderDamages)">
                <ng-container *ngFor="let cardId of getKeys(this.player.commanderDamages[playerId])">
                    <app-property-counter [editable]="localStream" [title]="gameService.getPlayerById(playerId)!.name"
                        [total]="player.commanderDamages[playerId][cardId].damage"
                        [totalString]="gameService.getPlayerById(playerId)!.commanders.length > 1 ? (player.commanderDamages[playerId][cardId].card.name | slice:0:6) + '... ' : ''"
                        [tooltip]="'Commander damage taken'"
                        [modifyCallback]="getModifyCommanderDamageCallback(playerId, player.commanderDamages[playerId][cardId].card)"
                        [joined]="localStream" [fullWidth]="true" [buttonClass]="'rounded-t-none rounded-b-none'"
                        class="">
                    </app-property-counter>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <button type="button" (click)="toggleSidebar()" class="text-xl text-white hover:text-yellow-400">
        <div *ngIf="showSidebar" class="flex items-center"><ng-icon class="text-md"
                name="bootstrapChevronDoubleLeft"></ng-icon> </div>
        <div *ngIf="!showSidebar" class="flex items-center"> <ng-icon class="text-md"
                name="bootstrapChevronDoubleRight"></ng-icon></div>
    </button>
</div>