<div class="flex flex-col pt-1 items-center">

  <div class="flex justify-center " *ngIf="player.isMonarch || player.hasInitiative">
    <div *ngIf="player.isMonarch" appTooltip="Take The Monarch" [tooltipDirection]="'bottom'">
      <img src="crown.png" class="w-16 animate__animated animate__bounceInDown cursor-pointer"
        (click)="toggleMonarch()">
    </div>

    <div *ngIf="player.hasInitiative" appTooltip="Take The Initiative" [tooltipDirection]="'bottom'">
      <img src="initiative.png" class="w-16 animate__animated animate__bounceIn cursor-pointer"
        (click)="toggleInitiative()">
    </div>
  </div>

  <div class="relative transition-all duration-300 ease-in-out" (transitionend)="onTransitionEnd()"
    [ngClass]="{
      'h-0 opacity-0 pointer-events-none': topBarPanelHidden,
      'h-auto': !topBarPanelHidden,
      'opacity-0': !showTopBar,
      'opacity-100': showTopBar
    }">
    <div class="transition-transform duration-300 ease-in-out " [ngClass]="{
          'translate-y-0 h-full': showTopBar,
          '-translate-y-full': !showTopBar
    }">
      <div *ngIf="player" class="flex flex-row  flex-wrap w-full justify-center">
        <app-life-total-dropzone [id]="'topLeftDropZone' + player.id" [dropList]="topLeftDropZoneList" [editable]="editable"
          [totalFunction]="getTotal" [modifyCallbackFunction]="getCallback" [isDragging]="isDragging"
          [isHiddenFunction]="getHidden" [isHorizontal]="true"
          [cdkDropListConnectedTo]="['topRightDropZone' + player.id, 'leftDropZone' + player.id, 'rightDropZone' + player.id]" (draggingChanged)="onDraggingChanged($event)"
          [justifyEnd]="true"></app-life-total-dropzone>

        <div class="ml-1 mr-1">
          <div class="join bg-black bg-opacity-50 text-sm">
            <button *ngIf="editable && gameService.isYugiohGame()" type="button"
              class=" button text-white p-1 join-item " (click)="modifyCallback(-3000)">-3K</button>
            <button *ngIf="editable && gameService.isYugiohGame()" type="button"
              class=" button text-white p-1 join-item " (click)="modifyCallback(-1000)">-1K</button>
            <button *ngIf="editable && gameService.isYugiohGame()" type="button"
              class=" button text-white p-1 join-item " (click)="modifyCallback(-500)">-500</button>
            <button *ngIf="editable && gameService.isYugiohGame()" type="button"
              class=" button text-white p-1 join-item " (click)="modifyCallback(-100)">-100</button>
            <button *ngIf="editable && !gameService.isYugiohGame()" type="button"
              class=" button text-white p-1 join-item " (click)="modifyCallback(-10)">-10</button>
            <button *ngIf="editable && !gameService.isYugiohGame()" type="button"
              class=" button text-white p-1 join-item" (click)="modifyCallback(-1)">-1</button>

            <div class="dropdown join-item button text-white pl-4 pr-4" appTooltip="Click to see more options"
              [tooltipDirection]="'bottom'" [tooltipStartOpen]="editable">
              <div tabindex="0" role="button" class="flex flex-col h-full justify-center">
                <p class="text-center">{{player.name | titlecase}}</p>
                <p class="text-center">@if(player.lifeTotal > 0){❤️}@else{💀} {{player.lifeTotal}}</p>
              </div>
              <ul *ngIf="editable || gameService.isCommanderGame()" tabindex="0"
                class="dropdown-content menu popupColors rounded-box z-[1] w-52 shadow text-slate-800">
                <li class="relative group" *ngIf="editable">
                  <a><ng-icon class="mr-1 text-lg text-red-600" name="gameHearts"></ng-icon> Set Life</a>
                  <ul
                    class="absolute subMenuLeft top-0 hidden group-hover:block menu popupColors rounded-box w-64 shadow  z-10">
                    <li class="flex flex-row items-center">
                      <input type="number" [(ngModel)]="setLifeTotalAmount" (keydown.enter)="setLifeTotal()"
                        class="w-36 mr-4 text-center text-lg border border-gray-300 rounded px-0 py-2" />
                      <button (click)="setLifeTotal()"
                        class="text-xs text-white bg-violet-600 hover:bg-violet-700 rounded whitespace-nowrap">Set</button>
                    </li>
                  </ul>
                </li>
                <li class="relative group" *ngIf="gameService.isMagicGame()">
                  <a><ng-icon class="mr-1 text-lg text-violet-600" name="gameDiceSixFacesFive"></ng-icon> Counters</a>
                  <ul
                    class="absolute subMenuLeft top-0 hidden group-hover:block menu popupColors rounded-box w-64 shadow  z-10">
                    <li *ngIf="gameService.isCommanderGame()" (click)="toggleCommanderDamages()"><a><ng-icon
                          class="mr-1 text-lg text-red-600" name="gameHealthNormal"></ng-icon> Commander Damage</a></li>
                    <li *ngIf="editable && gameService.isMagicGame()" (click)="showPoisonCounter = !showPoisonCounter;" [ngClass]="{'bg-yellow-100': showingPoisonPanel }">
                      <a><ng-icon class="mr-1 text-lg text-green-600" name="gamePoisonBottle"></ng-icon> Poison</a>
                    </li>
                    <li *ngIf="editable && gameService.isMagicGame()" (click)="showEnergyCounter = !showEnergyCounter;" [ngClass]="{'bg-yellow-100': showingEnergyPanel }">
                      <a><ng-icon class="mr-1 text-lg text-orange-600" name="gamePowerLightning"></ng-icon> Energy</a>
                    </li>
                    <li *ngIf="editable && gameService.isMagicGame()"
                      (click)="showRadiationCounter = !showRadiationCounter;" [ngClass]="{'bg-yellow-100': showRadiationCounter }"><a><ng-icon
                          class="mr-1 text-lg text-yellow-400" name="gameRadioactive"></ng-icon> Rad</a></li>
                  </ul>
                </li>
                <li class="relative group" *ngIf="editable && gameService.isMagicGame()">
                  <a><ng-icon class="mr-1 text-lg text-amber-600" name="gameFairyWand"></ng-icon> Modifiers</a>
                  <ul
                    class="absolute subMenuLeft top-0 hidden group-hover:block menu popupColors rounded-box w-52 shadow  z-10">
                    <li (click)="toggleMonarch()"><a><ng-icon class="mr-1 text-lg text-amber-500"
                          name="gameCrown"></ng-icon> Become Monarch</a></li>
                    <li (click)="toggleInitiative()"><a><ng-icon class="mr-1 text-lg text-red-500"
                          name="gameTorch"></ng-icon> Take Initiative</a></li>
                    <li (click)="toggleCitiesBlessing()"><a><ng-icon class="mr-1 text-lg text-stone-800"
                          name="gameModernCity"></ng-icon> Toggle Cities Blessing</a></li>
                    <li (click)="toggleDayNightCycle()"><a><ng-icon class="mr-1 text-lg text-cyan-500"
                          name="gameSunCloud"></ng-icon> Become {{gameService.isDay ? "Night" : "Day"}}</a></li>
                  </ul>
                </li>
                <li (click)="toggleTopBar()"><a><ng-icon class="mr-1 text-lg text-cyan-500" name="gameEyeTarget"></ng-icon> {{showTopBar ? 'Hide' : 'Show'}} Panel</a></li>
              </ul>
            </div>

            <button *ngIf="editable && !gameService.isYugiohGame()" type="button"
              class=" button text-white p-1 join-item" (click)="modifyCallback(1)">+1</button>
            <button *ngIf="editable && !gameService.isYugiohGame()" type="button"
              class=" button text-white p-1 join-item" (click)="modifyCallback(10)">+10</button>
            <button *ngIf="editable && gameService.isYugiohGame()" type="button"
              class=" button text-white p-1 join-item" (click)="modifyCallback(100)">+100</button>
            <button *ngIf="editable && gameService.isYugiohGame()" type="button"
              class=" button text-white p-1 join-item" (click)="modifyCallback(500)">+500</button>
            <button *ngIf="editable && gameService.isYugiohGame()" type="button"
              class=" button text-white p-1 join-item" (click)="modifyCallback(1000)">+1K</button>
            <button *ngIf="editable && gameService.isYugiohGame()" type="button"
              class=" button text-white p-1 join-item" (click)="modifyCallback(3000)">+3K</button>

          </div>
        </div>

        <app-life-total-dropzone [id]="'topRightDropZone' + player.id" [dropList]="topRightDropZoneList" [editable]="editable"
          [totalFunction]="getTotal" [modifyCallbackFunction]="getCallback" [isDragging]="isDragging"
          [isHorizontal]="true" (draggingChanged)="onDraggingChanged($event)" [isHiddenFunction]="getHidden"
          [cdkDropListConnectedTo]="['topLeftDropZone' + player.id, 'leftDropZone' + player.id, 'rightDropZone' + player.id]" [justifyEnd]="false"></app-life-total-dropzone>

      </div>
    </div>
  </div>
  <button type="button" (click)="toggleTopBar()" class="topBarContainer text-md text-white hover:text-yellow-400" [ngClass]="{'topBarContainerOpen': showTopBar}">
    <!-- <div *ngIf="showTopBar" class="flex items-center"><ng-icon class="text-2xl"
        name="bootstrapChevronDoubleUp"></ng-icon></div> -->
    <div *ngIf="!showTopBar" class="flex items-center"><ng-icon class="text-md"
        name="bootstrapChevronDoubleDown"></ng-icon></div>
  </button>
</div>