
.subMenuLeft{
    left: 90%;
}

.poisonPanelEditable{
    right:-126px;
    top:0px;
}

.poisonPanel{
    right:-78px;
    top:2px;
}

.energyPanel{
    left:-78px;
    top:0px;
}

.energyPanelEditable{
    left:-128px;
    top:0px;
}

.radiationPanelRightEditable{
    right:-112px;
    top:0px;
}

.radiationPanelRight{
    right:-61px;
    top:2px;
}

.radiationPanelLeftEditable{
    left:-111px;
    top:0px;
}

.radiationPanelLeft{
    left:-61px;
    top:2px;
}

.radiationPanelLower{
    top:45px !important;
}

.radiationPanelFarRight{
    right:-139px !important;
}
