.button{
    background-color: rgba(0, 0, 0, 0.117);
    border: 1px solid white;
}

.button:hover{
    /* background-color: #1e293b; */
    background-color: #5b5b5b;
}


.button:active{
    background-color: #3b3b3b; /* Change to your desired color on click */
}


.poisonPanelEditable{
    right:-134px;
    top:0px;
    /* height:42px; */
}

.poisonPanel{
    right:-84px;
    top:2px;
    /* height:42px; */
}

.energyPanel{
    left:-84px;
    top:0px;
}

.energyPanelEditable{
    left:-136px;
    top:0px;
}
