<div class="relative group inline-block">
  <!-- Card content (e.g., card name, image, etc.) -->
  <div class="cursor-pointer" (click)="flipImage()">
    <div class="">
      <!-- <h2 class="card-title">{{card?.name}}</h2> -->
      <div *ngIf="loadingCard" class="cardLoad">
        <p class="text-center">Loading image...</p>
      </div>
      <img [src]="imageUrl()" alt="Card Image" class="w-full rounded-xl" (load)="onImageLoad()" [ngClass]="{'hidden': loadingCard}">
      <!-- <img [src]="imageUrl()" alt="Card Image" class="w-full rounded-xl"> -->
    </div>
  </div>

  <div *ngIf="showPopup">
    <!-- Popup content -->
    <div class="cardHover hidden group-hover:block z-10">
      <div class="">
        <img [src]="imageUrl()" alt="Card Image" class="cardHoverImg w-full rounded-xl">
      </div>
    </div>
  </div>

</div>