<div class="inline-block">
  <div class="relative group inline-block">
    <!-- Card content (e.g., card name, image, etc.) -->
    <div class="cursor-pointer" (click)="flipImage()" (mouseenter)="onMouseEnter($event)">
      <div class="">
        <!-- <h2 class="card-title">{{card?.name}}</h2> -->
        <div *ngIf="loadingCard" class="cardLoad">
          <p class="text-center">Loading image...</p>
        </div>
        <div *ngIf="hasDeleteHandler" class="absolute right-0 bg-slate-900 hidden group-hover:block"><button type="button" class="text-white pl-1 pr-1" (click)="onDeleteClicked()">✕</button></div>
        <img [src]="imageUrl()" alt="Card Image" class="w-full rounded-xl" (load)="onImageLoad()" [ngClass]="{'hidden': loadingCard}">
        <div id="purchasePanel" *ngIf="showPurchaseButtons" class="absolute text-white bg-black bg-opacity-50">
          <a [href]="tcgAffiliateLink" target="_blank" rel="noopener">Buy <span *ngIf="card?.prices?.usd">${{card?.prices?.usd}}</span></a>
        </div>
        <div *ngIf="card && card.classificationConfidence > 0 && showMatchConfidence" id="classificationMatch"
            (click)="toggleGuesses($event)"
            class="absolute text-white bg-black bg-opacity-50 cursor-pointer flex items-center space-x-1 p-1 rounded-tr-md rounded-bl-md">
            <span>{{ card.classificationConfidence * 100.0 | number : '1.2-2'}}% Match</span>
            <!-- Chevron Icon that rotates on click -->
            <svg class="w-4 h-4 transition-transform duration-300" [ngClass]="{'rotate-180': showGuesses}"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
        </div>
        <!-- <img [src]="imageUrl()" alt="Card Image" class="w-full rounded-xl"> -->
      </div>
    </div>

    <div *ngIf="showPopup" >
      <!-- Popup content -->
      <div class="cardHover hidden group-hover:block z-10" [ngStyle]="popupStyle" >
        <div class="">
          <img [src]="imageUrl()" alt="Card Image" class="cardHoverImg w-full rounded-xl">
        </div>
      </div>
    </div>

  </div>


  <!-- It uses max-height for a smooth slide-down/up animation -->
  <div *ngIf="allGuesses && allGuesses.length > 1" class="transition-all duration-500 ease-in-out overflow-hidden"
    [style.max-height]="showGuesses && allGuesses && allGuesses.length > 0 ? '1000px' : '0px'">
    <div class="mt-2 space-y-2">
      <!-- Using slice to only show the next two guesses -->
      <div *ngFor="let guess of allGuesses.slice(1)">
        <!-- Recursive call to the component for each guess -->
        <app-card [card]="guess" [showPopup]="true" [showMatchConfidence]="true" [maximumRightMargin]="260" ></app-card>
      </div>
    </div>
  </div>
</div>  