<div class="min-h-screen flex items-center justify-center p-4 ">
    <div class="w-full max-w-md border rounded shadow p-6 text-center space-y-4 bg-slate-800">
        <h2 class="text-xl font-semibold mb-4 text-white">Reset Password</h2>

        <div *ngIf="requestingReset">
            <form (ngSubmit)="onRequestResetPassword()" class="space-y-4" [formGroup]="sendResetForm" *ngIf="!success">
                <div class="text-left">
                    <label class="block text-sm font-medium text-white text-left">Email</label>
                    <input type="email" formControlName="email"
                        class="mt-1 p-2 w-full border rounded-md shadow-sm popupColors" />
                    <app-input-error [inputForm]="sendResetForm" [inputKey]="'email'"></app-input-error>
                </div>

                <button type="submit"
                    class="w-full btn btn-outline text-white py-2 px-4 rounded disabled:text-gray-500 disabled:border-slate-600 disabled:cursor-not-allowed btn-action"
                    [disabled]="sendResetForm.invalid">
                    Reset Password
                </button>

                <p *ngIf="error" class="text-red-500 text-sm mt-2">{{ error }}</p>
            </form>

            <p *ngIf="success" class="text-green-600">
                ✅ A reset email has been sent.
            </p>
        </div>


        <div *ngIf="!requestingReset">
            <form (ngSubmit)="onSetNewPassword()" class="space-y-4" *ngIf="!success && token" [formGroup]="resetForm">
                <div class="text-left">
                    <label class="block text-sm font-medium text-white text-left">New Password</label>
                    <input type="password" formControlName="password"
                        class="mt-1 p-2 w-full border rounded-md shadow-sm popupColors" />
                    <app-input-error [inputForm]="resetForm" [inputKey]="'password'"></app-input-error>
                </div>

                <div class="text-left">
                    <label class="block text-sm font-medium text-white text-left">Confirm Password</label>
                    <input type="password" formControlName="confirm"
                        class="mt-1 p-2 w-full border rounded-md shadow-sm popupColors" />
                    <app-input-error [inputForm]="resetForm" [inputKey]="'confirm'"></app-input-error>
                </div>

                <button type="submit"
                    class="w-full btn btn-outline text-white py-2 px-4 rounded disabled:text-gray-500 disabled:border-slate-600 disabled:cursor-not-allowed btn-action"
                    [disabled]="resetForm.invalid">
                    Set New Password
                </button>

                <p *ngIf="error" class="text-red-500 text-sm mt-2">{{ error }}</p>
            </form>

            <p *ngIf="success" class="text-green-600">
                ✅ Your password has been reset. <a routerLink="/join" class="link">Back</a>
            </p>

            <p *ngIf="!token && !success" class="text-red-500">Invalid or missing reset token.</p>
        </div>

    </div>
</div>