<button class="hidden" onclick="donationModal.showModal()" id="donationToggleModal">toggle</button>
<dialog id="donationModal" class="modal">

    <div class="absolute w-96 bg-white width">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 text-black btn-action"
                id="closeDonationModal">✕</button>
        </form>
        <iframe id='kofiframe' src='https://ko-fi.com/tablestream/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#f9f9f9;' height='712' title='tablestream'></iframe>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>