                      <button (click)="test()" class="btn btn-sm btn-outline text-white drawer-button w-full rounded-none btn-action">Test</button>
<div class="drawer drawer-end" >

  
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="w-screen h-screen flex flex-col drawer-content ">
      <div class="flex flex-row flex-grow" *ngIf="localPlayer$ | async as localPlayer">
        <div id="userStreams" class="flex flex-wrap h-screen flex-grow" >
          <div *ngFor="let player of gameService.room.players; let i = index"
            class="bg-slate-800 bgTransition"
            [class.bgDayLight]="gameService.isDay"
            [style.order]="getOrder(i)"
            [ngStyle]="computeFlexStyles(i)">
              <app-user-stream
                [player]="player"
                [isLocalStream]="player.id === localPlayer.id"
                [isFocusedLayout]="focusedLayout"
                (reportPlayerEvent)="openReportUserModal($event)">
              </app-user-stream>
            </div>
          </div>
          <div>
            <div *ngFor="let token of gameService.room?.game?.tokens">
              <app-card-token [token]="token" [editable]="token.ownerId == localPlayer.id"></app-card-token>
            </div>
          </div>
          <div *ngIf="!showSideBar" class="bg-slate-800 p-2">
            <ng-icon (click)="showSideBar = true" class="text-xl text-white hover:text-yellow-400 cursor-pointer" name="bootstrapChevronDoubleLeft"></ng-icon>
            <span *ngIf="unreadMessages > 0" class="text-xs ml-2 badge badge-error absolute right-0 top-0 p-2">{{ unreadMessages }}</span>
          </div>
          <div [hidden]="!showSideBar">
             <div class="flex flex-col p-1 h-screen min-w-64 max-w-64 pl-2 pr-2 bg-slate-900 bgTransition" [ngClass]="{'bgDay': gameService.isDay}">
               <div>
                  <app-sidebar-game-info></app-sidebar-game-info>
                  <div class="justify-center mb-2 grid grid-cols-2">
                    <div *ngIf="localPlayer?.admin" appTooltip="Start game when ready" [tooltipDirection]="'left'" [tooltipStartOpen]="true"><label for="my-drawer" class="btn btn-sm btn-outline text-white drawer-button w-full rounded-none btn-action" >Game</label></div>
                      <button (click)="copyUrl()" class="btn btn-sm btn-outline text-white drawer-button w-full rounded-none btn-action">Share Link</button>
                      <button (click)="gameLogModal.open()" class="btn btn-sm btn-outline text-white drawer-button w-full rounded-none btn-action">Game Log</button>
                      <button (click)="reportComponent.open()" class="btn btn-sm btn-outline text-white drawer-button w-full rounded-none btn-action">Report Issue</button>

                      <div class="relative inline-block dropdown">
                        <button tabindex="0" class="btn btn-sm btn-outline text-white w-full rounded-none btn-action">Layout {{(devicesService.videoDevices$ | async)?.length}} </button>
                           <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box shadow mt-1 -left-16 absolute z-10">
                            </ul>
                      </div>
                      <button (click)="showingHotkeys = !showingHotkeys" class="btn btn-sm btn-outline text-white drawer-button w-full rounded-none btn-action">{{showingHotkeys ? 'Hide Hotkeys' : 'Show Hotkeys'}}</button>
                      <button (click)="showSideBar = !showSideBar" class="btn btn-sm btn-outline text-white drawer-button w-full rounded-none relative btn-action">Hide sidebar</button>
                      <button (click)="showChatbox = !showChatbox" class="btn btn-sm btn-outline text-white drawer-button w-full rounded-none relative btn-action">
                        {{ showChatbox ? 'Hide Chat' : 'Show Chat' }}
                          <span *ngIf="!showChatbox && unreadMessages > 0" class="text-xs ml-2 badge badge-error absolute right-0 top-0 p-2">{{ unreadMessages }}</span>
                        </button>
                      <button (click)="showQrCode = !showQrCode" class="btn btn-sm btn-outline text-white drawer-button w-full rounded-none relative btn-action">Join with phone</button>
                        <app-qr-code *ngIf="showQrCode" [player]="localPlayer"></app-qr-code>
                    </div>
                    <div *ngIf="showingHotkeys" class="mb-4">
                      <ul class="text-white">
                        <li>(Space Bar) - pass turn</li>
                        <li>(Up Arrow) - add health</li>
                        <li>(Down Arrow) - remove health</li>
                        <li>(Ctrl + q) - search cards</li>
                        <li>(alt + q)  - search cards</li>
                        <li>Typing will also auto search cards</li>
                        <li *ngIf="gameService.room?.game?.transcribeActive">(r) - voice to search cards</li>
                      <button (click)="flipCoins(1, localPlayer)" class="btn btn-sm btn-outline text-white drawer-button rounded-none grow btn-action" style="border-right: none;">Flip Coin</button>
                      <div class="dropdown dropdown-left text-white rounded-none">
                        <div tabindex="0" role="button" class="flex flex-col h-full justify-center">
                          <button class="btn btn-sm btn-outline text-white drawer-button w-full rounded-none btn-action">+</button>
                        </div>
                        <ul  tabindex="0" class="dropdown-content menu popupColors rounded-box z-[1] w-52 p-2 shadow text-slate-800">
                          <li (click)="flipCoins(2, localPlayer)"><a>2</a></li>
                          <li (click)="flipCoins(3, localPlayer)"><a>3</a></li>
                          <li (click)="flipCoins(4, localPlayer)"><a>4</a></li>
                          <li (click)="flipCoins(5, localPlayer)"><a>5</a></li>
                        </ul>
                      </div>
                      </ul>
                    </div>
                    <div class="flex flex-row">
                      <button (click)="rollDice(1,6)" class="btn btn-sm btn-outline text-white drawer-button rounded-none grow btn-action" style="border-right: none;">Roll Dice</button>
                      <div class="dropdown dropdown-left text-white rounded-none " >
                        <div tabindex="0" role="button" class="flex flex-col h-full justify-center">
                          <button class="btn btn-sm btn-outline text-white drawer-button w-full rounded-none btn-action">+</button>
                        </div>
                        <ul tabindex="0" class="dropdown-content menu popupColors rounded-box z-[1] w-52 p-2 shadow text-slate-800">
                          <li (click)="rollDice(1,4)"><a>D4</a></li>
                          <li (click)="rollDice(1,8)"><a>D8</a></li>
                          <li (click)="rollDice(1,12)"><a>D12</a></li>
                          <li (click)="rollDice(1,20)"><a>D20</a></li>
                        </ul>
                      </div>
                    </div>
                    <button *ngIf="gameService.room.reactionsEnabled" (click)="soundEffectModal.open()" class="btn btn-sm btn-outline text-white drawer-button w-full rounded-none btn-action">Reactions</button>
                    <button (click)="tokenModal.open()" class="btn btn-sm btn-outline text-white drawer-button w-full rounded-none btn-action">Tokens</button>
                  </div>
                  <app-card-list class="flex-1 min-h-0"></app-card-list>
                </div>
          </div>
        </div>
    </div>
    <div class="drawer-side ">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu popupColors min-h-full w-80 p-4">
            <li><button type="button" (click)="startGame()">Start Game</button></li>
            <li><button type="button" (click)="resetGame()">Reset Game</button></li>
            <li><button type="button" (click)="playerTurnOrderModal.open()">Modify Turn Order</button></li>
        </ul>
    </div>

    <app-report-modal></app-report-modal>
    <app-sound-effect-modal *ngIf="localPlayer$ | async as localPlayer" [localPlayer]="localPlayer"></app-sound-effect-modal>
    <app-password-modal (joinGame)="loadIntoGame($event)" (goBackEvent)="goBack()"></app-password-modal>
    <app-player-turn-order-modal></app-player-turn-order-modal>
    <app-token-modal></app-token-modal>
    <app-report-user-modal></app-report-user-modal>
    <app-game-log-modal></app-game-log-modal>

    <app-donation-modal></app-donation-modal>
    <div class="absolute bottom-3 left-3">
        <app-donation-button [clickCallback]="openDonationModel"></app-donation-button>
    </div>
</div>

<div *ngIf="!localStorageService.hasUserInteractedWithSite" id="splashScreen" class="w-full h-screen absolute top-0 z-[100] bg-slate-900 flex items-center justify-center">
  <div class="text-white text-center">
    <button type="button" (click)="rejoinGame()" class="btn btn-outline text-white w-full rounded-none text-4xl py-4 h-full btn-action">
      Rejoin Game
    </button>
  </div>
</div>

<div *ngIf="initialLoad" id="loadingScreen" class="w-full h-screen absolute top-0 z-[100] bg-slate-900 flex items-center justify-center">
  <div class="text-white text-center">
    <p class="text-white w-full rounded-none text-4xl py-4 h-full">
        Loading
    </p>
  </div>
</div>