<div class="drawer drawer-end">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />

    <div class="w-screen h-screen flex flex-col drawer-content ">

        <div class="flex flex-row flex-grow">

            <div class="grid grid-cols-2 flex-grow">
                <div *ngFor="let player of sortedPlayers" class="bg-slate-800" [ngClass]="sortedPlayers.length <= 2 ? 'full-height' : 'half-height'">
                    <app-user-stream [player]="player" [localStream]="player.id == localPlayerId"></app-user-stream>
                </div>
            </div>

            <div class="flex flex-col p-1 bg-slate-900 min-w-64 max-w-64 pl-2 pr-2">

                <div class="">
                    <h3 class="text-white">Room Name: <span class="text-pop">{{gameService.room.name}}</span></h3>
                    <h3 class="text-white mb-2 ">Game Type: <span class="text-pop capitalize">{{gameService.room.game?.searchTag}}</span></h3>
                    
                    <div class="justify-center mb-2 grid grid-cols-2 gap-y-2">
                        <label *ngIf="localPlayer?.admin" for="my-drawer" class="btn btn-sm btn-outline text-white drawer-button w-full">Game</label>
                        <button (click)="copyUrl()" class="btn btn-sm btn-outline text-white drawer-button w-full">Share Link</button>
                        <button (click)="reportComponent.open()" class="btn btn-sm btn-outline text-white drawer-button w-full">Report Issue</button>
                    </div>
                </div>

                <app-messenger></app-messenger>

                <div class="mt-2">
                    <app-card-list></app-card-list>
                </div>
                
            </div>
            
        </div>
        
    </div>

    <div class="drawer-side ">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu popupColors min-h-full w-80 p-4">
            <li><button type="button" (click)="randomizeTurnOrder()">Randomize Turn Order</button></li>
            <li><button type="button" (click)="startGame()">Start Game</button></li>
            <li><button type="button" (click)="resetGame()">Reset Game</button></li>
        </ul>
    </div>

    <app-report-modal></app-report-modal>
</div>