<div>
    <div class="flex justify-center mb-2">
        <button class="hidden" onclick="searchModal.showModal()" id="toggleModal">hidden</button>
        <button class="btn btn-sm btn-outline text-white" (click)="openSearchModal()" id="luke">Search Cards (ctrl + i)</button>
    </div>

    <dialog id="searchModal" class="modal ">
        <div class="modal-box bg-slate-800 text-white absolute top-2">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" id="closeModal" >✕</button>
            </form>

            <h3 class="text-lg font-bold">Card Search</h3>
            <p class="text-sm">Select to share</p>

            <form #searchForm="ngForm" (ngSubmit)="sendSearch()" class="mb-2">
                <input (ngModelChange)="searchStringChanged($event)" type="text" id="cardInput" name="cardInput" [(ngModel)]="searchString" required class="mt-1 p-2 w-full border rounded-md shadow-sm text-black">
            </form>

            <div *ngIf="!searching && searchResults && searchResults.length > 0">
                <div class="flex flex-row">
                    <div class="grow" [ngClass]="{'overflow-hidden': !searchResults || searchResults.length <= 8, 'overflow-y-scroll': searchResults && searchResults.length > 8}" id="cardResults">
                        <div  *ngFor="let card of searchResults"
                                tabindex="0" 
                                (mouseenter)="onCardHover(card)"
                                (mouseleave)="onCardHover(null)"
                                (focus)="onCardHover(card)" 
                                (blur)="onCardHover(null)"
                                (keydown.enter)="$event.preventDefault();shareCard(false)" 
                                (click)="shareCard(false)" >
                            <app-card-list-item [card]="card"></app-card-list-item>
                        </div>
                    </div>
                    <div class="max-w-64  ml-3">
                        <app-card *ngIf="cardBeingHovered" [card]="cardBeingHovered" [showPopup]="false" (click)="shareCard(true)"></app-card>
                    </div>
                </div>
            </div>

            <p *ngIf="searchResults.length < 1 && hasSearched && !searching" class="text-white">No cards found</p>

            <div class="flex justify-center pt-3" *ngIf="searching">
                <app-loading-spinner></app-loading-spinner>
            </div>

        </div>
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>

    <div class="relative mt-2">
        <div class="absolute inset-x-0 bottom-0 top-0 overflow-y-auto" id="scrollableDiv">

            @if(sharedCards && sharedCards.length > 0){
                <app-card [card]="sharedCards[0]" ></app-card>
            }

            <div class="flex justify-center" *ngIf="sharedCards != null && sharedCards.length > 1">
                <hr class="mt-2 mb-3 w-1/2" id="cardSeperator">
            </div>
            

            <div class="relative">
                @for (card of sharedCards | slice:1; track card; let  i = $index) {    
                    <app-card [card]="card" [ngClass]="{'cascadingCard': i > 0 }" [ngStyle]="{'top.px': (i * 50)}"></app-card>
                }
            </div>
            
            
        </div>
    </div>

</div>