#modalbox{
    max-width: 600px;
}

#cardResults{
    height:363px;
    /* overflow-y: scroll; */
}

.cascadingCard{
    position: absolute;
    width:100%;
    left:0px;
    /* top:-250px; */
    /* margin-top:-250px; */
}

#cardSeperator{
    border-color: rgba(255, 255, 255, 0.383);
}