<div>
    <div *ngIf="editable && !player.commander" class="">
        <button type="button" class="text-sm flex items-center" (click)="openSearch()">Commander <ng-icon class="ml-1" name="bootstrapPencilSquare"></ng-icon></button>
    </div>
    
    <div *ngIf="player.commander" class="relative group " (mouseover)="onMouseOver($event)" >
        <p class="text-sm flex items-center ">{{player.commander.name}} <ng-icon *ngIf="editable" class="ml-1" name="bootstrapPencilSquare"></ng-icon></p>
        <!-- Popup content -->
        <div class="fixed hidden group-hover:block z-10">
            <div class="">
                <img [src]="imageUrl()" alt="Card Image" class="cardHoverImg w-full rounded-xl" [style.top.px]="popoverPosition.top" [style.left.px]="popoverPosition.left">
            </div>
        </div>
    </div>
</div>
