<div *ngIf="index == 0 || (index==1 && editable && player.commanders.length > 0) || (index==1 && !editable && player.commanders.length == 2)">
    <div *ngIf="editable && !commander" class="">
        <button type="button" class="text-sm flex items-center text-pop" (click)="openSearch()">Commander <ng-icon class="ml-1" name="bootstrapPencilSquare"></ng-icon></button>
    </div>
    
    <div *ngIf="commander" class="relative group " (mouseover)="onMouseOver($event)" >
        <div class="flex">
            <p class="text-sm flex items-center cursor-pointer text-pop" (click)="openSearch(); flipped = !flipped;">{{commander.name}} <ng-icon *ngIf="editable" class="ml-1" name="bootstrapPencilSquare"></ng-icon></p>
            <p *ngIf="editable && index == 1" class="text-sm flex items-center cursor-pointer text-pop" (click)="clearCommander()"><ng-icon class="ml-1" name="bootstrapTrash3"></ng-icon></p>
        </div>
        <!-- Popup content -->
        <div class="fixed hidden group-hover:block z-10">
            <div class="">
                <img [src]="imageUrl()" alt="Card Image" class="cardHoverImg w-full rounded-xl" [style.top.px]="popoverPosition.top" [style.left.px]="popoverPosition.left">
            </div>
        </div>
    </div>
</div>
