<div *ngIf="!password.initialSubmit" class="text-white">
  <label for="password">Password</label>
  <input name="password" type="text" class="text-black bg-white" [(ngModel)]="password.value">
  <button type="button" (click)="password.initialSubmit = true; loadImages()" class="btn ">Submit</button>
</div>
<div *ngIf="password.initialSubmit" class="flex flex-col">
  <div>
    <div>
      <button type="button" (click)="clearCache()" class="btn btn-sm btn-danger mr-2">Clear Local Cache</button>
      <button type="button" (click)="showHints = !showHints;" class="btn btn-sm btn-primary">Toggle Rules</button>
    </div>
    <div *ngIf="showHints">
      <ul class="list-disc list-inside mb-4 text-white">
        <li>When to CLASSIFY:</li>
        <ul class="list-disc list-inside ml-8">
          <li>Ask yourself "Is this a single magic card that can be identified"</li>
          <li>Crops that are very zoomed in but you can identify the card is OKAY</li>
          <li>Cards in other languages are OKAY to classify</li>
          <li>Cards with alternate arts are OKAY. Just use whatever art comes up in the search</li>
        </ul>
        <li>When to DELETE:
          <ul class="list-disc list-inside ml-8">
            <li>Delete all tokens</li>
            <li>Anything that is not a face up magic card</li>
            <li>Bad crops, crops that are too zoomed out and not focused on a card</li>
          </ul>
        </li>
        <li>When to say "Im not sure":
          <ul class="list-disc list-inside ml-8">
            <li>The card is valid and should NOT be deleted</li>
            <li>You can't figure out what the card is</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="flex flex-row flex-wrap">
    <!-- Left Side: Image Display -->
    <div class="p-4 flex flex-row flex-wrap" style="">

      <div>
        <button type="button" (click)="imNotSure()" class="btn btn-sm btn-primary mr-2"
          [disabled]="loadingMoreImages">Im not sure</button>
        <!-- <button type="button" (click)="voteToDelete()" class="btn btn-sm btn-danger">Vote to delete</button> -->
        <button type="button" (click)="overrideDelete()" class="btn btn-sm btn-danger mr-8"
          [disabled]="loadingMoreImages">DELETE</button>

        <button type="button" (click)="previousImage()" class="btn btn-primary mr-2"
          [disabled]="loadingMoreImages || currentIndex <= 0">Prev</button>
        <button type="button" (click)="nextImage()" class="btn btn-primary mr-4"
          [disabled]="loadingMoreImages">Next</button>

        <button type="button" (click)="isFlipped = !isFlipped" class="btn btn-primary"
          [disabled]="loadingMoreImages">Flip</button>

        <div *ngIf="currentImage" class="text-center w-full">
          <!-- <h2>Current Image: {{ currentImage.imageName }}</h2>
        <h2>Url: {{ currentImage.presignedUrl }}</h2> -->
          <img [src]="currentImage.presignedUrl" alt="Current Image" style="width:450px;"
            [style.transform]="isFlipped ? 'scale(-1, -1)' : 'scale(1, 1)'" />
        </div>
        <div *ngIf="message">
          <p>{{ message }}</p>
        </div>
      </div>

      <div class="flex flex-col items-center mr-8">
        <div class="w-64">
          <app-card *ngIf="selectedCard" class="" [card]="selectedCard" [showPopup]="false"></app-card>
          <div *ngIf="!selectedCard" class="text-center text-white text-3xl">No card selected</div>
        </div>

        <div>
          <!-- <button *ngIf="selectedCard" id="submitButton" type="button" (click)="submitMatch()" class="btn btn-primary mr-2">Submit {{selectedCard.name}}</button> -->
          <button  id="submitButton" type="button" (click)="submitMatch(true)"
            class="btn btn-primary mr-2" [disabled]="loadingMoreImages || !selectedCard">Submit {{selectedCard?.name}}</button>
        </div>
      </div>

    </div>

    <!-- Right Side: Scryfall Search and Results -->
    <div class="p-4 flex flex-row text-white" style="">
      <div class=>
        <input type="text" [(ngModel)]="scryfallSearchQuery" (input)="onInputChange($event)"
          placeholder="Search for a card" class="input input-bordered w-72 mb-4 text-black bg-white" />

        <div *ngIf="searching">Searching...</div>
        <div *ngIf="searchResults.length > 0">
          <ul class="max-h-screen overflow-y-auto">
            <li *ngFor="let card of searchResults" (click)="selectCard(card)"
              [class.selected]="selectedCard?.id === card.id" class="cursor-pointer p-2 hover:bg-gray-200"
              (mouseenter)="onCardHover(card)" (mouseleave)="onCardHover(null)" (click)="selectCard(card)">
              {{ card.name }}
            </li>
          </ul>
        </div>
      </div>
      <div class="max-w-64 ml-3 invisible md:visible" *ngIf="cardBeingHovered">
        <app-card [card]="cardBeingHovered" [showPopup]="false"></app-card>
      </div>
    </div>
  </div>


</div>