<div class="relative h-full glow" [ngClass]="{'glow':  player.isTakingTurn}">

    <!-- <div class="absolute w-full h-full glow top-0 left-0"></div> -->

    <div class="flex justify-center h-full">
        <video #videoElement autoplay style="max-width: fit-content;" class="w-full "></video>
        <!-- <img class="w-full" style="max-width: fit-content;" src="https://as1.ftcdn.net/v2/jpg/01/63/11/70/1000_F_163117064_syJkTuCddASYjvl4WqyRmnuy8cDXpoQY.jpg"> -->
    </div>


    <div class="absolute top-1 w-full text-white  flex flex-col items-center">
        <!-- <div>
            <h2>{{player?.name | titlecase }}</h2>
        </div> -->
        <app-life-total [player]="player" [modifyCallback]="modifyLifeTotal" [editable]="localStream"
            [modifyPoisonCallback]="modifyPoisonTotal" [modifyEnergyCallback]="modifyEnergyTotal"></app-life-total>
    </div>

    <div class="absolute top-12 left-2 flex flex-col" *ngIf="showCommanderDamage">
        <ng-container *ngFor="let playerId of getCommanderDamageKeys()">
            <app-property-counter [editable]="localStream" [title]="gameService.getPlayerById(playerId)!.name" [total]="player.commanderDamages[playerId].damage"
                [modifyCallback]="getModifyCommanderDamageCallback(playerId)" class="mb-2">
            </app-property-counter>
        </ng-container>
    </div>

    <div class="absolute top-2 left-2 text-white flex flex-col ">
        <div *ngIf="player">
            <app-set-commander [player]="player" [editable]="localStream"></app-set-commander>
        </div>

        <div class="text-xs">
            <!-- <p class="">{{ !localStream ? "Remote: " + player.socketId : "Local" }} - {{player.name}}</p> -->
             <!-- todo this re-renders the whole component every tick -->
            <p>Turn: {{ player.currentTurnStartTime | timeAgo | async }}</p>
            <p>Avg: {{ (player.totalTurnTime/ ( (player.totalTurns) || 1 ) ) | timeAgo | async }}</p>
        </div>
    </div>




    <div class="absolute right-2 top-2 ">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-xs"><ng-icon name="bootstrapGearFill"></ng-icon></div>
            <ul tabindex="0" class="dropdown-content menu popupColors rounded-box z-[1] w-52 p-2 shadow ">
                <li (click)="toggleFlip()" class="text-slate-800"><a>Flip Video</a></li>
                <li (click)="showCommanderDamage = !showCommanderDamage;" class="text-slate-800"><a>Commander Damage</a></li>
            </ul>
        </div>
    </div>


</div>