.arrowsMove{
    position: absolute;
    right: 0px;
    top:0px;
}

.arrowsMove ng-icon{
    background-color: #00000099;
    font-size: 24px;
}

#buttonPanel{
    position: absolute;
    bottom:-80px;

    font-size: 12px;
    background-color: #00000099;
}

.seeThrough{
    opacity: 0.2;
}

#tapIcon{
    position: absolute;
    bottom: 0px;
    font-size: 40px;
}

.token{
    transition: transform 0.3s ease; /* Smooth rotation transition */
    width: 115px;
    height: 160px;
}

.tokenBackground{
    background-image: url("/assets/images/token-frame.png");
}

.token.tapped {
    transform: rotate(90deg);
}

.increment-btn {
    font-size: 14px;
}
