<div class="token fixed bg-white group" [ngClass]="{'bg-white': !token.card, 'seeThrough' : hidden, 'tapped': token.tapped, 'hidden': !settingService.tokensEnabled, 'tokenBackground': !token.card}">
    @if (token.card) {
        <app-card [card]="token.card" [showPopup]="true" [hoverMinDistance]="130"></app-card>
    }  @else {

        @if (isEditingText) {
            <input
                type="text"
                [value]="token.name"
                (keydown.enter)="endEditingText($event)"
                (keydown.escape)="cancelEditingText()"
                class="w-full p-2"
            />
        }  @else {
            <p (click)="startEditingText()" class="cursor-pointer text-center p-2">{{token.name}}</p>
        }
    }

    <div class="hidden group-hover:block">
        <div class="arrowsMove text-white grow text-center">
            <ng-icon name="bootstrapArrowsMove" ></ng-icon>
        </div>

        <div id="tapIcon" (click)="tapCard()" class="w-full text-center cursor-pointer">
            <ng-icon name="bootstrapArrowClockwise"></ng-icon>
        </div>

<div id="buttonPanel" class="absolute bottom-[-30px] w-full max-w-full text-white text-xs bg-black/60 flex flex-col gap-1 p-1 box-border">
  <div class="flex pt-1" >
    <button *ngIf="editable"  (click)="modifyPower(-1)" class="px-1 py-0.5 increment-btn">-</button>
    <button *ngIf="editable"  (click)="modifyPower(1)" class="px-1 py-0.5 increment-btn">+</button>
 <div class="ml-auto">Power {{ token.power_mod }}</div>
  </div>
  <div class="flex border-t border-white/30 pt-1">
    <button *ngIf="editable"  (click)="modifyToughness(-1)" class="px-1 py-0.5 increment-btn">-</button>
    <button *ngIf="editable"  (click)="modifyToughness(1)" class="px-1 py-0.5 increment-btn">+</button>
    <div class="ml-auto">Toughness {{ token.toughness_mod }}</div>
  </div>
  <div class="flex flex-wrap gap-1">
    <button *ngIf="editable" type="button" (click)="openSearch()" class="px-1 py-0.5">
      <ng-icon name="bootstrapSearch"></ng-icon>
    </button>
    <button *ngIf="editable" type="button" (click)="delete()" class="px-1 py-0.5">
      <ng-icon name="bootstrapTrash3Fill"></ng-icon>
    </button>
    <button *ngIf="editable" type="button" (click)="copyToken()" class="px-1 py-0.5">
      <ng-icon name="bootstrapCopy"></ng-icon>
    </button>
    <button type="button" (click)="hidden = !hidden" class="px-1 py-0.5">
      @if (hidden) {
        <ng-icon name="bootstrapEyeSlashFill"></ng-icon>
      } @else {
        <ng-icon name="bootstrapEyeFill"></ng-icon>
      }
    </button>
  </div>
</div>

    </div>
    
</div>