#submitButton:disabled{
    color:rgba(255, 255, 255, 0.264)
}

.tab-active{
    background-color: white;
    color: rgb(30,41,59) ;
}

.background{
    background-color: #000000ad;
}

.heroBackground{
    background-color: #00000078;
}

.hero{
    transition: background-image 0.5s ease-in-out;
}

/* This is hack so we load all of our possible background images at the start so when we switch between them they dont flicker */
.preloader::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url(/assets/images/magic-background.jpg) url(/assets/images/pokemon-background.jpg) url(/assets/images/wrenn-background.jpg) url(/assets/images/ulamog-background.jpg) url(/assets/images/rakdos-background.jpg) url(/assets/images/mana-vault-background.jpg) url(/assets/images/pauper-background.jpg) url(/assets/images/yugioh-background.jpg);  
}

.magicBackground{
    background-image: url("/assets/images/magic-background.jpg");
}

.pokemonBackground{
    background-image: url("/assets/images/pokemon-background.jpg");
}

.wrennBackground{
    background-image: url("/assets/images/wrenn-background.jpg");
}

.ulamogBackground{
    background-image: url("/assets/images/ulamog-background.jpg");
}

.rakdosBackground{
    background-image: url("/assets/images/rakdos-background.jpg");
}

.mana-vaultBackground{
    background-image: url("/assets/images/mana-vault-background.jpg");
}

.pauperBackground{
    background-image: url("/assets/images/pauper-background.jpg");
}

.yugiohBackground{
    background-image: url("/assets/images/yugioh-background.jpg");
}
