#submitButton:disabled{
    color:rgba(255, 255, 255, 0.264)
}

.tab-active{
    background-color: white;
    color: rgb(30,41,59) ;
}

.background{
    background-color: #000000ad;
}

.heroBackground{
    background-color: #00000078;
}