<div class="min-h-screen bg-cover" [ngClass]="backgroundImage + 'Background'" id="top">
  <div class="preloader"></div>
  <div class="bg-opacity-60 background"></div>
  <div class="text-white flex-col justify-center">
    <div class="">
      <app-main-logo [size]="'small'" [animationClass]="'animate__fadeIn'"></app-main-logo>
    </div>
    <div class="">
      <div *ngIf="!showRoomList || activeTab === 'create'"
        class="max-w-lg min-w-96 w-full mx-auto p-6 pb-3 shadow-md bg-slate-900 bg-opacity-90 text-white tabs tabs-lifted animate__animated animate__fadeIn">
        <!-- Tab navigation -->
        <!-- <div class="tabs ">
          <a class="tab tab-bordered text-white bg-slate-800 bg-opacity-50 hover:bg-slate-800" [ngClass]="{ 'tab-active': activeTab === 'join' }"
            (click)="setTab('join')">Join Game</a>
          <a class="tab tab-bordered text-white bg-slate-800 bg-opacity-50 hover:bg-slate-800" [ngClass]="{ 'tab-active': activeTab === 'create' }"
            (click)="setTab('create')">Create Game</a>
        </div> -->

        <!-- Create Game Form -->
        <div *ngIf="activeTab === 'create'" class="animate__animated animate__fadeIn">
          <div class="flex flex-row">
            <div class="grow">
              <h1 class="text-white text-2xl">Create Game</h1>
            </div>
            <button (click)="setTab('join')" class="text-white p-2 buttonOutlineBorderMuted hover:bg-slate-800">
              <span>Back</span>
            </button>
          </div>

          <form #createForm="ngForm" (ngSubmit)="onCreateGame()">
            <div class="mb-4">
              <label for="playerName" class="block text-sm font-medium text-white text-left">Your Name:</label>
              <input type="text" id="playerName" name="name" [(ngModel)]="player.name" required maxlength="40"
                class="mt-1 p-2 w-full border rounded-md shadow-sm popupColors">
            </div>
            <div class="mb-4">
              <label for="gameName" class="block text-sm font-medium text-white text-left">Room Name:</label>
              <input type="text" id="gameName" name="gameName" [(ngModel)]="player.roomName" required maxlength="40"
                class="mt-1 p-2 w-full border rounded-md shadow-sm popupColors">
            </div>
            <div class="mb-4">
              <label for="password" class="block text-sm font-medium text-white text-left">Password (optional):</label>
              <input type="text" id="password" name="password" [(ngModel)]="player.password" maxlength="40"
                class="mt-1 p-2 w-full border rounded-md shadow-sm popupColors">
            </div>
            <div class="mb-6">
              <label for="gameType" class="block text-sm font-medium text-white text-left">Game Type:</label>
              <select id="gameType" name="gameType" [(ngModel)]="player.gameType"
                (ngModelChange)="onGameTypeChange($event)"
                class="mt-1 p-2 w-full border rounded-md shadow-sm bg-white text-black" required>
                <option *ngFor="let type of gameTypes" [value]="type.value">{{ type.label }}</option>
              </select>
            </div>
            <div class="mb-4">
              <label for="gameType" class="block text-sm font-medium text-white text-left">Max Players:</label>
              <input id="maxPlayers" name="maxPlayers" type="number" min="2" step="1" max="6"
                [(ngModel)]="player.maxPlayers" class="mt-1 p-2 w-full border rounded-md shadow-sm bg-white text-black"
                required>
            </div>
            <div class="flex flex-row gap-x-4 mb-4">
              <div class="text-left flex flex-row items-center">
                <label for="reactionsEnabled"
                  class="text-sm font-medium text-white text-left mr-2 cursor-pointer">Reactions Enabled:</label>
                <input type="checkbox" id="reactionsEnabled" name="reactionsEnabled" class="cursor-pointer"
                  [(ngModel)]="player.reactionsEnabled">
              </div>
              <div class="text-left flex flex-row items-center">
                <label for="public"
                  class="text-sm font-medium text-white text-left mr-2 cursor-pointer" appTooltip="{{userService.isLoggedIn ? 'Game will show on server list' : 'Account required for public games'}}" [tooltipDirection]="'bottom'">Public:</label>
                <input type="checkbox" id="public" name="public" class="cursor-pointer" [(ngModel)]="player.public" [disabled]="!userService.isLoggedIn">
              </div>
            </div>
            
            <button type="submit"
              class="w-full btn btn-outline text-white py-2 px-4 rounded disabled:text-gray-500 disabled:border-slate-600 disabled:cursor-not-allowed"
              [disabled]="!createForm.valid">
              Create Game
            </button>
          </form>
        </div>

        <!-- Join Game Form -->
        <div *ngIf="activeTab === 'join' && !showRoomList">

          <div class="flex flex-row">
            <div class="grow">
              <h1 class="text-white text-2xl">Join Game</h1>
            </div>
            <button (click)="setTab('join'); showRoomList = true;" class="text-white p-2 buttonOutlineBorderMuted hover:bg-slate-800">
              <span>Back</span>
            </button>
          </div>

          <form #joinForm="ngForm" (ngSubmit)="onJoinGame()">
            <div class="mb-4">
              <label for="playerName" class="block text-sm font-medium text-white text-left">Your Name:</label>
              <input type="text" id="playerName" name="name" [(ngModel)]="player.name" autofocus required
                class="mt-1 p-2 w-full border rounded-md shadow-sm popupColors">
            </div>
            <div class="mb-6">
              <label for="roomId" class="block text-sm font-medium text-white text-left">Room ID:</label>
              <input type="text" id="roomId" name="roomId" [(ngModel)]="player.roomId" required
                pattern="^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
                class="mt-1 p-2 w-full border rounded-md shadow-sm popupColors">
            </div>
            <div class="mb-6 flex">
              <label for="isSpectator" class="text-sm font-medium text-white text-left">Join as Spectator:</label>
              <input type="checkbox" id="isSpectator" name="isSpectator" [(ngModel)]="player.isSpectator"
                class="mt-1 ml-2">
            </div>
            <button type="submit"
              class="w-full btn btn-outline text-white py-2 px-4 rounded disabled:text-gray-500 disabled:border-slate-600 disabled:cursor-not-allowed"
              [disabled]="!joinForm.valid">
              Join Game
            </button>
          </form>
        </div>

        <div *ngIf="showTermsOfService">
          <p class="text-white text-base mt-4 text-left">By accessing and using Table Stream, you acknowledge that you
            have read, understood, and agree to be bound by these <strong class="cursor-pointer"
              (click)="privacyPolicyModal.open()">Terms of Service and Privacy Policy.</strong></p>

          <p class="text-white text-base mt-4 text-left"><strong>Issues and Feedback:</strong> Email any problems or
            feedback to
            admin&#64;table-stream.com</p>
        </div>

      </div>

      <div *ngIf="activeTab === 'join' && showRoomList"
        class="flex flex-row justify-center animate__animated animate__fadeIn">
        <div class="">
          <app-room-list [roomClickedCallback]="onRoomClick"
            [createGameClickedCallback]="onCreateGameButtonClicked"></app-room-list>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="hidden sm:block">
  <app-recent-donation-list></app-recent-donation-list>
</div>

<app-donation-modal></app-donation-modal>
<div class="fixed bottom-2 right-2 sm:absolute sm:top-8 sm:right-8 sm:bottom-auto">
  <app-donation-button [clickCallback]="openDonationModel"></app-donation-button>
</div>

<app-ip-address-warning-modal (agreeClicked)="onAgreeClicked()"></app-ip-address-warning-modal>
<app-privacy-policy-modal></app-privacy-policy-modal>

<!-- <app-user-login-modal></app-user-login-modal> -->