<div class="fixed top-0 inset-x-0 m-4 space-y-2 flex flex-col items-center pointer-events-none z-50">
    <div *ngFor="let alert of alertService.getAlerts()"  [ngClass]="{
        'alert-success': alert.type === 'success',
        'alert-error': alert.type === 'error',
        'alert-info': alert.type === 'info',
        'alert-warning': alert.type === 'warning'
      }" class="alert transition-opacity duration-500 ease-out max-w-screen-sm pointer-events-auto flex justify-center" (click)="alertService.removeAlert(alert.id)">
        <span class="text-lg text-slate-800 font-bold">{{ alert.message }}</span>
    </div>
</div>