<div class="max-w-lg h-screen mx-auto text-white">
    <h2 class="text-2xl font-bold mb-6 text-center pt-4">Edit Profile</h2>
  
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div>
        <label class="block text-sm font-medium text-white text-left">Name</label>
        <input
          type="text"
          formControlName="name"
          class="mt-1 p-2 w-full border rounded-md shadow-sm popupColors"
        />
        <app-input-error [inputForm]="updateForm" [inputKey]="'name'"></app-input-error>
      </div>

      <div>
        <label class="block text-sm font-medium text-white text-left">Email</label>
        <input
          type="text"
          formControlName="email"
          class="mt-1 p-2 w-full border rounded-md shadow-sm popupColors disabled:bg-gray-400 disabled:cursor-not-allowed"
        />
        <app-input-error [inputForm]="updateForm" [inputKey]="'email'"></app-input-error>
      </div>

      <div>
        <app-edit-profile-icon
            [iconId]="selectedIcon"
            [color]="selectedColor"
            (iconChange)="selectedIcon = $event"
            (colorChange)="selectedColor = $event"
        ></app-edit-profile-icon>
      </div>
  
      <button
        type="submit"
        [disabled]="updateForm.invalid"
        class="w-full btn btn-outline text-white py-2 px-4 mt-4 rounded disabled:text-gray-500 disabled:border-slate-600 disabled:cursor-not-allowed btn-action"
      >
        Save Changes
      </button>

      <a routerLink="/join" class="btn btn-outline text-white py-2 px-4 rounded mr-2 w-full">Back</a>
    </form>
  
    <div *ngIf="success" class="text-green-400 text-sm mt-4 text-center">
      ✅ Profile updated successfully.
    </div>
</div>
  